#MakeFile
*MakeFile

#Screenshots
screenshot*.png

#Object Files
*.o

#Game Save Files
*.sav

#objects files
*.o

# Executables
*.out
*.app
tuto*.exe

# Unecessary Text Files
stderr.txt
stdout.txt

#Ignore
