#MakeFile
*MakeFile

#Screenshots
screenshot*.png

#Object Files
*.o

#Game Save Files
*.sav

#objects files
*.o

# Executables
*.out
*.app
*.exe

#Track Demo.exe
!astro_demo\Astro.exe

# Unecessary Text Files
stderr.txt
stdout.txt

#Ignore
