html{
	overflow-x: hidden;
}

body
{
background-color:black;
font-family: 'Roboto', sans-serif;
position: relative;
top: 120px;
}

/* Fixed Header */

header
{
margin-top: -8px;
margin-left: -8px;
height: 120px;
background-color:#000000;
width: 100%;
position: fixed;
z-index: 999;
}

/* Navigation Bar */
nav
{
color:ForestGreen;
font-size: 20px;
}

nav img
{
margin-left:50px;
margin-right:50px;
}

nav a
{
padding:6px;
margin:2px;
}

nav a:link 
{
color:ForestGreen;
}      /* unvisited link */
nav a:visited 
{
color:GoldenRod;
}  /* visited link */
nav a:hover 
{
color:white;
}  /* mouse over link */
nav a:active 
{
color:Black;
}  /* selected link */


/* Section Headers */
h1
{
color:green;
text-align:left;
font-size:50px;
margin-left: 400px;
margin-right: 400px;
position: relative;
}

h2
{
color:green;
text-align:left;
font-size:30px;
margin-left: 400px;
margin-right: 400px;
position: relative;
}

h3
{
color:green;
text-align:left;
font-size:20px;
margin-left: 400px;
margin-right: 400px;
position: relative;
}

a
{
	text-decoration: none;
}


/* Paragraph */
p
{
color:white;
text-align:justify;
font-size:20px;
display:  block;
margin-left: 400px;
margin-right: 400px;
position: relative;
}

p a:link 
{
color:ForestGreen;
}      /* unvisited link */
p a:visited 
{
color:GoldenRod;
}  /* visited link */
p a:hover 
{
color:white;
}  /* mouse over link */

developer p{
text-align:left;
}



pin
{
color:white;
text-align:justify;
font-size:20px;
display:  block;
position: relative;
}

pin a:link 
{
color:ForestGreen;
}      /* unvisited link */
pin a:visited 
{
color:GoldenRod;
}  /* visited link */
pin a:hover 
{
color:white;
}  /* mouse over link */
